<!-- 
    <head>
      <title>Game</title>
      <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
    </head>
<body> -->

  <!-- Begin game window -->
    <div class="center" id="shooting-game">



		<script src="/assets/javascripts/phaser.js"></script>		
		<script src="/assets/javascripts/shooter.js" type="text/javascript"></script>

		
<!--         </center> -->
    <!-- End Content -->
    </div>
<!-- </body> -->